
.icon-star:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-frontend:before { content: '\e803'; } /* '' */
.icon-database:before { content: '\e804'; } /* '' */
.icon-backend:before { content: '\e805'; } /* '' */
.icon-bug:before { content: '\e806'; } /* '' */
.icon-design:before { content: '\e807'; } /* '' */